body {
	background: white;
	margin-top: 100px;
}

.container{
	width: 100%; /*width: 1000px;*/
	max-width: 1200px;
	margin-left: 25%;
	margin-right: 25%;
}

.topbox img {
  z-index: 9999;
  width: 240px;
  float: left;
  margin-left: 25%;
  margin-top: 20px;
}

nav {
  position: fixed;
  text-align: right;
  top: 0;
  left: 0;
  width: 100%;
  padding-right: 25%;
  margin-top: 30px;
  font-family: 'Droid Sans', sans-serif;
  color: #A8A7A7;
}

ul {
  margin: 1% 0;
  padding: 0.01%;

}

nav li {
  font-size: 1.25em;
  letter-spacing: .2%;
  display: inline-block;
  font-size: 1.1em;
}

nav a {
  text-decoration: none;
  color: #9E9E9E;
}

nav a:hover {
  color: #424242;
}

.topbox {
  margin-top: 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: white;
  overflow: hidden;
  padding-left: 0;
  box-shadow: 5px -18px 52px black;
}

.banner img {
  min-width: 100%;
  min-height: 15%;
}

.ui.grid {
  margin: 4rem;
  font-family: 'Droid Serif', serif;
  font-size: 1em;
  text-align: center;
  margin-right: 35%;
  margin-left: 35%;
}

h1 {
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;
	color: #424242;
	margin-top: 4rem;
	margin-left: 25%;
	margin-right: 25%;
}

p {
	color: #9E9E9E;
	text-align: justify;
}

.ui.grid>.column:not(.row), .ui.grid>.row>.column {
	position: inherit;
}

.ui.medium.image, .ui.medium.images .image, .ui.medium.images img {
	min-width: 48%;
	margin-left: 1%;

}

.ui.images {
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 50px;
}

.ui.images .image, .ui.images img {
	margin: 0px 0.50rem 13px;

}

@media screen and (max-width: 1400px) {

	.ui.medium.image, .ui.medium.images .image, .ui.medium.images img {
	 	min-width: 100%;
	 	height: 100%;
	}

	.ui.images {
		margin-left: 25%;
		margin-right: 25%;
		margin-top: 50px;
	}

}

@media screen and (max-width: 1100px) {

 .container {
 	margin-left: 15%;
 	margin-right: 15%;
 }

 nav {
 	padding-right: 15%;
 	margin-top: 30px;
 }

 .topbox img {
 	margin-left: 15%;
 }

 .ui.grid {
   margin: 4rem;
   font-family: 'Droid Serif', serif;
   font-size: 1em;
   text-align: center;
   margin-left: 25%;
   margin-right: 25%;
 }

 .ui.grid>.column:not(.row), .ui.grid>.row>.column {
	position: inherit;
 }

 h1 {
   margin-left: 15%;
   margin-right: 15%;
 }

 .ui.images {
		margin-left: 15%;
		margin-right: 15%;
		margin-top: 50px;
	}

}
@media screen and (max-width: 800px) {

 nav {
  padding-right: 5%;
  margin-top: 30px;
 }

 .topbox img {
 	margin-left: 5%;
 }

 .banner {
   min-width: 100%;
   min-height: 15%;
 }

 .ui.grid {
   margin-left:15%;
   margin-right: 15%;

 }

 .ui .two .column .grid {
 	margin-left: auto;
 	margin-right: auto;
 }

 h1 {
   margin-left: 5%;
   margin-right: 5%;
 }

 .ui.images {
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 50px;
	}

}
