body {
	background: white;
	margin-top: 100px;
}

.container{
	width: 100%; /*width: 1000px;*/
	max-width: 1200px;
	margin-left: 25%;
	margin-right: 25%;
}

.topbox img {
  z-index: 9999;
  width: 200px;
  float: left;
  margin-left: 15%;
  margin-top: 25px;
}

nav {
  position: fixed;
  text-align: right;
  top: 0;
  left: 0;
  width: 100%;
  padding-right: 15%;
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  color: #949494;
  z-index: 9;
}

ul {
  padding: 0.01%;

}

nav li {
  font-size: 1.25em;
  letter-spacing: .2%;
  display: inline-block;
  font-size: 1em;
}

nav a {
  text-decoration: none;
  color: #9E9E9E;
}

nav a:hover {
  color: #333132;
}

.topbox {
  margin-top: 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: white;
  overflow: hidden;
  padding-left: 0;
  box-shadow: 5px -18px 52px black;
  z-index: 8;
}

.banner img {
  min-width: 100%;
  min-height: 15%;
}

.ui.grid {
  margin: 2rem;
  font-size: 1em;
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
}

h1 {
	font-family: 'Georgia', sans-serif;
	font-weight: lighter;
	color: #545454;
	text-align: center;
	font-size: 1.5em;
}

p {
	color: #949494;
	text-align: justify;
	font-family: 'Open Sans', sans-serif;
	font-size: .85em;
}

.ui.grid>.column:not(.row), .ui.grid>.row>.column {
	position: inherit;
}

.ui.medium.image, .ui.medium.images .image, .ui.medium.images img {
	min-width: 48%;
	margin-left: 1%;
	border: solid 1px #C0C0C0;

}

.ui.images {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 60px;
	margin-bottom: 5%;
}



.ui.images .image, .ui.images img {
	margin: 0px 0.50rem 13px;

}

.footer {
	min-width:100%;
	height: 500px;
	background-color: #333132;
}

.wrapper {
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	padding-top: 5%;
}

.wrapper p {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.ui.reveal {
	width: 32%;
	margin-right: .2%;
	margin-left: .8%;
}

.ui.reveal>.visible.content {
	width: 100%;
}

.ui.reveal>.hidden.content {
	width: 100%;
}

@media screen and (max-width: 1400px) {

	.ui.medium.image.fade.reveal, .ui.medium.images .image, .ui.medium.images img {
	 	min-width: 100%;
	}

	.ui.images.fade.reveal {
		margin-left: 15%;
		margin-right: 15%;
		margin-top: 60px;
	}

	ul {
		margin: 1.4% 0;
	}

}

@media screen and (max-width: 1100px) {

 .container {
 	margin-left: 15%;
 	margin-right: 15%;
 }

 nav {
 	padding-right: 15%;
 	margin-top: 30px;
 }

 .topbox img {
 	margin-left: 15%;
 }

 .ui.grid {
   margin: 2rem;
   font-family: 'Droid Serif', serif;
   font-size: 1em;
   text-align: center;
   margin-left: 25%;
   margin-right: 25%;
 }

 .ui.grid>.column:not(.row), .ui.grid>.row>.column {
	position: inherit;
 }

 .ui.images {
		margin-left: 15%;
		margin-right: 15%;
		margin-top: 60px;
	}

 .wrapper {
 	margin-left: 15%;
 	margin-right: 15%;
 }

 .ui.grid {
 	margin-left: 15%;
 	margin-right: 15%;
 	font-family: 'Droid Sans', sans-serif;
 }

 .ui.images.fade.reveal {
	margin-left: 15%;
	margin-right: 15%;
 }	

 ul {
		margin: 1.6% 0;
	}

}
@media screen and (max-width: 800px) {

 nav {
  padding-right: 5%;
  margin-top: 30px;
 }

 .topbox img {
 	margin-left: 5%;
 }

 .banner {
   min-width: 100%;
   min-height: 15%;
 }

 .ui.grid {
   margin-left:15%;
   margin-right: 15%;

 }

 .ui .two .column .grid {
 	margin-left: auto;
 	margin-right: auto;
 }


 .ui.images {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 60px;
	}

.ui.grid {
    margin-left: 5%;
 	margin-right: 5%;
 	font-family: 'Droid Sans', sans-serif;
 }

 .ui.images.fade.reveal {
	margin-left: 5%;
	margin-right: 5%;
 }	

 ul {
		margin: 1.4% 0;
	}

}
