body {
	background: white;
	margin-top: 100px;
}

.container{
	width: 100%; /*width: 1000px;*/
	max-width: 1200px;
	margin-left: 25%;
	margin-right: 25%;
}

.topbox img {
  z-index: 9999;
  width: 250px;
  float: left;
  margin-left: 25%;
  margin-top: 20px;
}

nav {
  position: fixed;
  text-align: right;
  top: 0;
  left: 0;
  width: 100%;
  padding-right: 25%;
  margin-top: 15px;
}

ul {
  margin: 1% 0;
  padding: 0.01%;

}

nav li {
  font-size: 1.25em;
  letter-spacing: .2%;
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: #00a1e0;
}

.topbox {
  margin-top: 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: white;
  overflow: hidden;
  padding-left: 0;
  box-shadow: 0px 2px 20px #e1e1e1;
}

@media screen and (max-width: 1100px) {

 .container {
 	margin-left: 15%;
 	margin-right: 15%;
 }

 nav {
 	padding-right: 15%;
 	margin-top: 20px;
 }

 .topbox img {
 	margin-left: 15%;
 }

}

@media screen and (max-width: 800px) {

 nav {
  padding-right: 5%;
  margin-top: 25px;
 }

 .topbox img {
 	margin-left: 5%;
 }

}
